body {
	background-color: #1e1e1e;
}

#image {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.erangel-map {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 250px 0;
    top: 0;
    left: 0;
}

h1 {
    background-color: #eeeeee;
    overflow: hidden;
    display: inline-block; 
    padding: 10px; 
    font-weight: bold;
    font-family: arial;
    color: transparent;
    font-size: 100px;
}

span { 
    background-color: #1e1e1e;
    /*-webkit-text-fill-color: transparent;*/
    -webkit-background-clip: text;
    /*display:block;*/
}

#map-name {
	margin-left: 2%;
}

.button-maps {
	text-align: center;
    position: absolute;
	float: right;
	margin-right: 5.5%;
	overflow: hidden;
	background-color: #eeeeee;
	border: none;
    color: #1e1e1e;
    font-size: 100px;
    font-weight: bold;
    font-family: arial;
    z-index: 1;
    top: 7.9%;
    padding: 10px;
    left: 81%;
}

.button-maps:hover {
	background-color: white;
}

#toggle-loot {
	font-size: 25px;
	top: 40%;
	left: 8%;
	width: 170px;
}

#toggle-drop {
	font-size: 25px;
	top: 50%;
	left: 8%;
	width: 170px;
}

#toggle-heatmap {
	font-size: 25px;
	top: 60%;
	left: 8%;
	width: 170px;
}

#reset {
	font-size: 25px;
	top: 70%;
	left: 8%;
	width: 170px;
}