:root {
  --container-bg-color: black;
  --speed: 1000ms;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', 'Bold', 'Arial', 'sans-sherif';
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mapName {
  font-size: 4rem;
  color: white;
  position: absolute;
  left: 5%;
  top: 5%;
  white-space: nowrap;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.background-img {
  opacity: 0.3;
  filter: blur(0.5rem) contrast(45%);
}

#map {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 16rem 0;
    top: 0;
    left: 0;
}

.button {
  display: block;
  position: absolute;
  left: 81%;
  top: 23%;
  height: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 15rem;
  text-align: center;
  color: white;
  border: white solid 0.2rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-0%);
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.button span {
  z-index: 20;
}

.button:after {
  background: white;
  content: "";
  height: 9rem;
  left: -4.6rem;
  opacity: .2;
  position: absolute;
  top: -3rem;
  width: 3rem;
  -webkit-transition: all var(--speed) cubic-bezier(0.19, 1, 0.22, 1);
          transition: all var(--speed) cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  z-index: -10;
}

.button:hover:after {
  left: 120%;
  -webkit-transition: all var(--speed) cubic-bezier(0.19, 1, 0.22, 1);
          transition: all var(--speed) cubic-bezier(0.19, 1, 0.22, 1);
}

.back {
  top: 63%;
  left: 81%;
}

.loot {
  top: 63%;
  left: 6%;
}

.heat {
  top: 23%;
  left: 6%;
}

@media(max-width: 1280px) {
  .button {
    width: 10rem;
    font-size: 1.3rem;
    padding-top: 0.6rem;
    padding-bottom: 0rem;
    left: 86%;
  }

  .button:after {
    -webkit-transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
    height: -1.5rem;
    width: 1.5rem;
  }

  .button:hover::after {
    -webkit-transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .loot {
    left: 1%;
  }

  .heat {
    left: 1%;
  }

  #map {
    width: 70%;
  }

  .shadow {
    box-shadow: inset 0 0 32rem 0;
  }
}

@media(max-width: 1200px) {
  .button {
    width: 8rem;
    font-size: 1rem;
    padding-top: 1rem;
    left: 86.5%;
  }

  .loot {
    left: 1.5%;
  }

  .heat {
    left: 1.5%;
  }

  #map {
    width: 70%;
  }
}

@media(max-width: 1000px) {
  .button {
    left: 56.5%;
    top: 85.5%;
  }

  .back {
    left: 71.5%;
  }

  .loot {
    left: 15%;
  }

  .heat {
    left: 30%;
  }

}

@media(max-width: 900px) {
  .button {
    width: 5.5rem;
    height: 1rem;
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }

}

@media(max-height: 500px) {
  .button {
    width: 10rem;
    height: 1rem;
    font-size: 1rem;
    padding-top: 0.6rem;
  }
}
